* { 
    box-sizing: border-box;
    transition: .25s;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    background-color: #282528;
    color: #f0f8ff;
    text-align: center;
    width: 100%;
    height: 100%;
    grid-template-rows: 5em auto 5em;
    grid-template-columns: 10em auto;
    grid-template-areas:    "nav nav"
                            "side cal";
}

main {
    width: 100%;
    height: 100%;
    position: relative;
    grid-area: cal;
}

main > div {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr;
    --gap: .25em;
    position: absolute;
    gap: var(--gap);
}

main > div > div {
    width: 100%;
    height: 100%;
}

#days > div {
    background-color: #383538;
}

#days > .start {
    border-radius: .5em 0 0 .5em;
}

#days > .end {
    border-radius: 0 .5em .5em 0;
}

#events > div {
    padding-top: 2em;
}

.offset {
    background-color: transparent !important;
    grid-column-start: 1;
    grid-column-end: var(--offset, 1);
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

h1 {
    font-size: 5rem;
    font-weight: 700;
}

@media screen and (max-width: 700px) {
    body {
        grid-template-rows: 100%;
    }
    main {
        grid-row: 1;
        flex-direction: column !important;
    }
}