<!DOCTYPE html>
<head>
    <%- include("partials/commonHead.ejs") %>
    <link rel="stylesheet" type="text/css" href="css/pages/index.css">
</head>
<body>
    <main>
        <div id="days"></div>
        <div id="events"></div>
    </main>
    <script type="text/javascript" src="js/pages/index.js"></script>
</body>